body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 54px;
  background-color: #2B2929;
}

.nav .turquoise-line {
  width: 100%;
  height: 3px;
  background-color: #5BC5C7;
}

.nav ul {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 130px;
  height: 100%;
  position: relative;
  left: 14vw;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

main {
  width: 100%;
  padding-top: 50px;
  background-color: #F7F4EB;
}

main .container {
  background-color: #fff;
  border-radius: 15px;
  width: 65vw;
  min-width: 1200px;
  padding: 80px 11vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  opacity: 0;
}

main .container .contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .contact-title .ball {
  width: 67px;
  height: 67px;
  border-radius: 67px;
  background-color: #5BC5C7;
}

main .container .contact-title h1 {
  font-weight: normal;
  font-size: 3rem;
  color: #332009;
  margin-left: 34px;
}

main .container .contact-form {
  margin-top: 80px;
}

main .container .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .contact-form form textarea:focus, main .container .contact-form form input:focus {
  outline: none;
}

main .container .contact-form form .name {
  margin-top: 40px;
}

main .container .contact-form form .email {
  margin-top: 40px;
}

main .container .contact-form form .message {
  margin-top: 80px;
}

main .container .contact-form form label {
  display: block;
  font-weight: bold;
  font-size: 0.75rem;
  color: rgba(43, 41, 41, 0.4);
  padding: 5px 0;
  width: 19vw;
  min-width: 400px;
}

main .container .contact-form form input {
  border: none;
  border-bottom: 2px solid rgba(43, 41, 41, 0.2);
  padding: 15px 0;
  font-size: 1.05rem;
  font-weight: bold;
  color: #2B2929;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px !important;
  width: 20vw;
  min-width: 400px;
}

main .container .contact-form form textarea {
  border: none;
  border-bottom: 2px solid rgba(43, 41, 41, 0.2);
  padding: 15px 0;
  font-size: 1.05rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: #2B2929;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px !important;
  width: 43vw;
  min-width: 830px;
  min-height: 100px;
  height: auto;
  resize: vertical;
}

main .container .contact-form form .submit-btn {
  margin-right: 200px;
  min-width: 150px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  padding: 0;
  border: 3px solid #F0A171;
  background-color: #fff;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

main .container .contact-form form .submit-btn:hover {
  background-color: #F0A171;
  color: white;
}

main .container .orCallme {
  margin: 80px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #332009;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .orCallme .small-ball {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background-color: #D3B0D9;
  margin-right: 25px;
}

main .container .orCallme h3 {
  margin-right: 40px;
}

main .container .orCallme i {
  margin-right: 25px;
}

footer {
  background-color: #886791;
  width: 100%;
  height: 280px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-content .some-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 135px;
  color: #2B2929;
  display: flex;
  margin: 30px auto;
}

footer .footer-content .copyright {
  color: #2B2929;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
}
/*# sourceMappingURL=contact-style.css.map */