body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  min-width: 1260px;
}

.nav-fixed {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 54px;
  background-color: #2B2929;
}

.nav-fixed .turquoise-line {
  width: 100%;
  height: 3px;
  background-color: #5BC5C7;
}

.nav-fixed ul {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 280px;
  height: 100%;
  position: relative;
  left: 14vw;
  list-style: none;
}

.nav-fixed ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.pagination {
  position: fixed;
  right: 50px;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

.pagination .index-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 28px 0;
}

.pagination .index-item .index-nro {
  color: #5BC5C7;
  font-size: 14px;
  margin-right: 10px;
  opacity: 0;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.pagination .index-item .index-bar {
  width: 10px;
  height: 4px;
  border-radius: 4px;
  background-color: #5BC5C7;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.pagination .index-item .index-bar1 {
  width: 22px;
}

.pagination .index-item .index-nro1 {
  opacity: 1;
}

.lander-container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.lander-container .lander-profile {
  width: 100%;
  height: 100%;
  background-color: #F7F4EB;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.lander-container .lander-profile .profile-text {
  position: absolute;
  left: 22%;
  top: 7%;
  color: #332009;
}

.lander-container .lander-profile .profile-text h1 {
  font-size: 2.8rem;
  line-height: 4.6rem;
  font-weight: normal;
}

.lander-container .lander-profile .profile-text #txtParaph {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3.2rem;
  width: 300px;
  margin-top: 100px;
  position: relative;
  top: 40px;
  opacity: 0;
}

.lander-container .lander-profile .profile-pic {
  background-image: url("./img/profilePic.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 64%;
  position: absolute;
  left: 70%;
  -webkit-transform: translateX(-28%);
          transform: translateX(-28%);
  opacity: 0;
}

.lander-container .lander-init {
  background-color: #F0E5CE;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.lander-container .lander-init .lander-header-container {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.lander-container .lander-init .lander-header-container .lander-header {
  color: #332009;
  font-weight: normal;
  font-size: 3rem;
  line-height: 5rem;
  position: absolute;
  left: 14vw;
  top: 60%;
  -webkit-transform: translateY(-54%);
          transform: translateY(-54%);
  opacity: 0;
}

.lander-container .hoverMe {
  height: 120px;
  width: 120px;
  position: absolute;
  right: 13vw;
  top: 20vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.lander-container .hoverMe .hoverMe-area {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.lander-container .hoverMe .hoverMe-area .hoverMe-ball {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #5BC5C7;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation: pulse 1400ms infinite;
          animation: pulse 1400ms infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(91, 197, 199, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 25px rgba(91, 197, 199, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(91, 197, 199, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(91, 197, 199, 0.7);
            box-shadow: 0 0 0 0 rgba(91, 197, 199, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 25px rgba(91, 197, 199, 0);
            box-shadow: 0 0 0 25px rgba(91, 197, 199, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(91, 197, 199, 0);
            box-shadow: 0 0 0 0 rgba(91, 197, 199, 0);
  }
}

.mySkills {
  background-color: #F7F4EB;
  width: 100%;
}

.mySkills .nav-static {
  width: 100%;
  height: 54px;
  background-color: #2B2929;
}

.mySkills .nav-static .turquoise-line {
  width: 100%;
  height: 3px;
  background-color: #5BC5C7;
}

.mySkills .nav-static ul {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 280px;
  height: 100%;
  position: relative;
  left: 14vw;
  list-style: none;
}

.mySkills .nav-static ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.mySkills header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #332009;
  width: 270px;
  margin: 0 auto;
  padding: 220px 0 40px 0;
}

.mySkills header h1 {
  font-weight: normal;
}

.mySkills header .ball {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #5BC5C7;
}

.keySkills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 1300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 240px auto;
}

.keySkills-container .img-container {
  width: 120px;
  height: 200px;
  position: relative;
  margin: 0 auto 60px auto;
}

.keySkills-container .img1 {
  width: 100px;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.keySkills-container .img2 {
  width: 100px;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.keySkills-container .img3 {
  width: 100px;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.keySkills-container h3 {
  color: rgba(43, 41, 41, 0.8);
  font-weight: 900;
  margin-bottom: 30px;
}

.keySkills-container p {
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  color: #332009;
  line-height: 1.8rem;
  width: 360px;
}

.workSkills-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 260px;
}

.workSkills-container .headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.workSkills-container .headers .design-skills {
  margin: 0 30px;
  color: rgba(43, 41, 41, 0.8);
}

.workSkills-container .headers .design-decoration {
  width: 27px;
  height: 4px;
  background-color: #F0A171;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.workSkills-container .headers .coding-skills {
  margin: 0 30px;
  color: rgba(43, 41, 41, 0.8);
}

.workSkills-container .headers .coding-decoration {
  width: 27px;
  height: 4px;
  background-color: #d3b0d9;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.workSkills-container .but-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workSkills-container .but-container .design-skills-but-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30vw;
  margin: 0 30px;
}

.workSkills-container .but-container .design-skills-but-container p {
  font-size: 14px;
  color: #2B2929;
  display: inline;
  padding: 8px 32px;
  border: 1px solid rgba(43, 41, 41, 0.8);
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px rgba(43, 41, 41, 0.8);
          box-shadow: 3px 3px rgba(43, 41, 41, 0.8);
  margin: 7px 7px;
}

.workSkills-container .but-container .coding-skills-but-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30vw;
  margin: 0 30px;
}

.workSkills-container .but-container .coding-skills-but-container p {
  font-size: 14px;
  color: #2B2929;
  display: inline;
  padding: 8px 32px;
  border: 1px solid rgba(43, 41, 41, 0.8);
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px rgba(43, 41, 41, 0.8);
          box-shadow: 3px 3px rgba(43, 41, 41, 0.8);
  margin: 7px 7px;
}

.overlayModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 50;
}

.overlayModal .contentModal {
  display: none;
  height: 88vh;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.showcase-container {
  background-color: white;
  padding-bottom: 300px;
}

.showcase-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #332009;
  width: 240px;
  margin: 0 auto;
  padding: 260px 0 0 0;
}

.showcase-container header h1 {
  font-weight: normal;
}

.showcase-container header .ball {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #D3B0D9;
}

.showcase-container h2 {
  margin: 30px 0 120px 0;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  line-height: 1.8rem;
  width: 40vw;
  text-align: center;
  margin: 60px auto 100px auto;
  color: #332009;
}

.showcase-container .showcase-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 65vw;
  margin: 0 auto;
}

.showcase-container .showcase-flexbox img {
  height: 18vw;
  width: 21vw;
  background-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.showcase-container .showcase-flexbox img:hover {
  opacity: 0.5;
}

.projectsContainer .projects-header {
  background-color: white;
  text-align: center;
  color: #332009;
  padding-bottom: 180px;
}

.projectsContainer .projects-header h4 {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 40px;
  margin: 0;
}

.projectsContainer .projects-header h1 {
  font-weight: normal;
  font-size: 2.8rem;
}

.projectsContainer .project-1 {
  padding: 280px 14vw 150px 14vw;
}

.projectsContainer .project-2 {
  padding: 150px 14vw 340px 14vw;
}

.projectsContainer .projects {
  background-color: #2B2929;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsContainer .projects .content {
  width: 30vw;
}

.projectsContainer .projects .content h1 {
  color: white;
  font-size: 1.75rem;
  margin: 40px 0;
}

.projectsContainer .projects .content p {
  color: #f7f4eb;
  font-size: 0.9rem;
  line-height: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: 100;
  margin-bottom: 80px;
}

.projectsContainer .projects .content .skill-but-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projectsContainer .projects .content .skill-but-container p {
  font-size: 14px;
  color: #f7f4eb;
  display: inline !important;
  padding: 7px 30px;
  border: 1px solid #f7f4eb;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px #f7f4eb;
          box-shadow: 3px 3px #f7f4eb;
  margin: 7px 7px;
  opacity: 0.5;
}

.projectsContainer .projects .img-content-1 .project-img {
  width: 14vw;
  -webkit-box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  margin: 0 25px;
}

.projectsContainer .projects .img-content-1 .img-1 {
  -webkit-transform: translateY(-8%);
          transform: translateY(-8%);
}

.projectsContainer .projects .img-content-1 .img-2 {
  -webkit-transform: translateY(8%);
          transform: translateY(8%);
}

.projectsContainer .projects .img-content-2 .project-img {
  -webkit-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
}

.projectsContainer .projects .img-content-2 .img-1 {
  width: 12vw;
  -webkit-transform: translate(-40%, 10%);
          transform: translate(-40%, 10%);
}

.projectsContainer .projects .img-content-2 .img-2 {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  width: 28vw;
}

.testimonials {
  background-color: #F7F4EB;
  width: 100%;
  text-align: center;
  color: #2B2929;
  padding: 180px 0 300px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.2);
}

.testimonials p {
  margin: 30px 0;
  font-weight: 500;
}

.testimonials .line {
  width: 68vw;
  height: 1px;
  background-color: #2B2929;
  opacity: 0.3;
  margin: 60px auto 30px auto;
}

.testimonials .swiper-container {
  width: 68vw;
}

.testimonials .swiper-container .swiper-slide .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 180px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.testimonials .swiper-container .swiper-slide .flexbox .content {
  text-align: start;
  width: 45%;
}

.testimonials .swiper-container .swiper-slide .flexbox .content h4 {
  letter-spacing: 0.5px;
}

.testimonials .swiper-container .swiper-slide .flexbox .content p {
  font-size: 0.9rem;
  font-style: italic;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
}

.testimonials .swiper-container .swiper-slide .flexbox .content .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .swiper-container .swiper-slide .flexbox .content .content-header .header-ball {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  margin-right: 25px;
}

.testimonials .swiper-container .swiper-slide .flexbox .content .content-header .hb1 {
  background-color: #D3B0D9;
}

.testimonials .swiper-container .swiper-slide .flexbox .content .content-header .hb2 {
  background-color: #ED9E5C;
}

.testimonials .swiper-container .swiper-slide .flexbox .content .content-header .hb3 {
  background-color: #5BC5C7;
}

.testimonials .swiper-container .swiper-slide .flexbox .content .content-header .hb4 {
  background-color: #D3B0D9;
}

.testimonials .swiper-container .swiper-pagination-bullet-active {
  background-color: #5BC5C7;
}

.footer {
  background-color: #886791;
  width: 100%;
  height: 670px;
  color: white;
}

.footer .footerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  height: 260px;
  border-radius: 15px;
  background-color: #2B2929;
  margin: 0 auto;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
}

.footer .footerCard h1 {
  font-size: 46px;
  letter-spacing: 1px;
}

.footer .footerCard p {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 30px;
  font-weight: medium;
}

.footer .footerCard .contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #5BC5C7;
  width: 241px;
  height: 58px;
  border-radius: 58px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.footer .footerCard .contact-btn:hover {
  background-color: #5BC5C7;
}

.footer h2 {
  text-align: center;
  color: #2B2929;
  font-size: 24px;
  font-style: italic;
  padding: 40px 0;
}

.footer .some-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 135px;
  color: #2B2929;
  display: flex;
  margin: 30px auto;
}

.footer .copyright {
  color: #2B2929;
  text-align: center;
  font-weight: 500;
}

@media only screen and (max-width: 1500px) {
  body, html {
    min-width: 1260px;
  }
  .lander-container .lander-init .lander-header-container .lander-header {
    font-size: 2.4rem;
    line-height: 4.5rem;
  }
  .keySkills-container {
    max-width: 1100px;
  }
  .keySkills-container p {
    width: 300px;
  }
  .workSkills-container .but-container .design-skills-but-container {
    width: 35vw;
  }
  .workSkills-container .but-container .design-skills-but-container p {
    font-size: 13px;
    padding: 8px 28px;
  }
  .workSkills-container .but-container .coding-skills-but-container {
    width: 35vw;
  }
  .workSkills-container .but-container .coding-skills-but-container p {
    font-size: 13px;
    padding: 8px 30px;
  }
  .showcase-container .showcase-flexbox {
    width: 72vw;
  }
  .showcase-container .showcase-flexbox img {
    height: 22vw;
    width: 24vw;
  }
  .project-1 {
    padding: 280px 6vw 150px 6vw;
  }
  .project-2 {
    padding: 150px 6vw 340px 6vw;
  }
  .projects .content {
    width: 40vw;
  }
  .projects .content .skill-but-container p {
    font-size: 13px;
    padding: 7px 27px;
  }
  .projects .img-content-1 .project-img {
    width: 17vw;
    margin: 0 15px;
  }
  .projects .img-content-2 .img-1 {
    width: 14vw;
    -webkit-transform: translate(-40%, 15%);
            transform: translate(-40%, 15%);
  }
  .projects .img-content-2 .img-2 {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
    width: 30vw;
  }
  .testimonials {
    min-width: 1200px;
  }
  .footer .footerCard {
    min-width: 1200px;
  }
}
/*# sourceMappingURL=style.css.map */