$beige: #F0E5CE;
$light-beige: #F7F4EB;
$dark-brown: #332009;
$turquoise: #5BC5C7;
$black: #2B2929;
$light-black: rgba(43, 41, 41, 0.8);



body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-width: 1260px;
}

.nav-fixed {
    display: none;

    position: fixed;
    z-index: 10;

    width: 100vw;
    height: 54px;
    background-color: $black;

    .turquoise-line {
        width: 100%;
        height: 3px;
        background-color: $turquoise;
    }

    ul {
        font-size: 12px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0;
        padding: 0;
        width: 280px;
        height: 100%;

        position: relative;
        left: 14vw;
        
        list-style: none;

        li {
            a {
                text-decoration: none;
                color: white;
                letter-spacing: 1px;
            }
        }
    }
}

.pagination {
    position: fixed;
    right: 50px;
    top: 50vh;
    transform: translateY(-50%);

    z-index: 3;

    .index-item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 28px 0;
        
        .index-nro {
            color: $turquoise;
            font-size: 14px;
            margin-right: 10px;

            opacity: 0;
            transition-duration: 300ms;
        }
        
        .index-bar {
            width: 10px;
            height: 4px;
            border-radius: 4px;
            background-color: $turquoise;

            transition-duration: 400ms;
        }

        .index-bar1 {
            width: 22px;
        }

        .index-nro1 {
            opacity: 1;
        }
    }
}

.quickContacts {
    position: fixed;
    z-index: 3;

    display: flex;
    top: 50vh;
    transform: translateY(-50%);
    left: -130px;

    transform: rotate(-90deg);
    font-size: 13.5px;
    color: $light-black;
    letter-spacing: 0.5px;
    width: 350px;
    justify-content: space-between;
}

.lander-container {
    width: 100%;
    height: 100vh;
    position: relative;

    z-index: 0;

    overflow-x: hidden;
    
    .lander-profile {
        width: 100%;
        height: 100%;

        background-color: $light-beige;
        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;

        .profile-text {
            position: absolute;
            left: 22%;
            top: 7%;
            color: $dark-brown;

            h1 {
                font-size: 2.8rem;
                line-height: 4.6rem;
                font-weight: normal;
            }

            #txtParaph {
                font-weight: normal;
                font-size: 1.6rem;
                line-height: 3.2rem;

                width: 300px;
                margin-top: 100px;
                position: relative;
                top: 40px;
                opacity: 0;
            }
        }

        .profile-pic {
            background-image: url('./img/profilePic.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            height: 100%;
            width: 64%;

            position: absolute;
            left: 70%;
            transform: translateX(-28%);
            opacity: 0;
        }
    }


    .lander-init {
        background-color: $beige;
        position: absolute;
        z-index: 2;

        width: 100%;
        height: 100%;

        transition-duration: 300ms;
        transition-timing-function: ease-out;



        .lander-header-container {
            transition-duration: 300ms;
            transition-timing-function: ease-out;

            .lander-header {
                color: $dark-brown;
                font-weight: normal;
                font-size: 3rem;
                line-height: 5rem;
        
                position: absolute;
                left: 14vw;
                top: 60%;
        
                transform: translateY(-54%);
                opacity: 0;
            }
        }
    }

    .hoverMe {
        height: 120px;
        width: 120px;

        position: absolute;
        right: 13vw;
        top: 20vh;
        transform: translate(-50%, -50%);

        z-index: 3;

        .hoverMe-area {
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer;
            
            .hoverMe-ball {
                position: absolute;
                left: 50%;
                top: 50%;
                opacity: 0;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color: $turquoise;

                animation-delay: 2s;
                animation: pulse 1400ms infinite;
            }

            @-webkit-keyframes pulse {
                0% {
                  -webkit-box-shadow: 0 0 0 0 rgba(91, 197, 199, 0.7);
                }
                70% {
                    -webkit-box-shadow: 0 0 0 25px rgba(91, 197, 199, 0);
                }
                100% {
                    -webkit-box-shadow: 0 0 0 0 rgba(91, 197, 199, 0);
                }
              }
              @keyframes pulse {
                0% {
                  -moz-box-shadow: 0 0 0 0 rgba(91, 197, 199, 0.7);
                  box-shadow: 0 0 0 0 rgba(91, 197, 199, 0.7);
                }
                70% {
                    -moz-box-shadow: 0 0 0 25px rgba(91, 197, 199, 0);
                    box-shadow: 0 0 0 25px rgba(91, 197, 199, 0);
                }
                100% {
                    -moz-box-shadow: 0 0 0 0 rgba(91, 197, 199, 0);
                    box-shadow: 0 0 0 0 rgba(91, 197, 199, 0);
                }
              }
        }
    }

}


.mySkills {
    background-color: $light-beige;
    width: 100%;

    .nav-static {
        width: 100%;
        height: 54px;
        background-color: $black;

        .turquoise-line {
            width: 100%;
            height: 3px;
            background-color: $turquoise;
        }

        ul {
            font-size: 12px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 0;
            padding: 0;
            width: 280px;
            height: 100%;

            position: relative;
            left: 14vw;
            
            list-style: none;

            li {

                a {
                    text-decoration: none;
                    color: white;
                    letter-spacing: 1px;
                }
            }
        }
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: $dark-brown;
        width: 270px;
        margin: 0 auto;
        padding: 220px 0 40px 0;


        h1 {
            font-weight: normal;
        }

        .ball {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: $turquoise;
        }
    }
}

.keySkills-container {

    display: flex;
    text-align: center;
    max-width: 1300px;
    justify-content: space-between;
    margin: 0 auto 240px auto;

    .img-container {
        width: 120px;
        height: 200px;
        position: relative;
        margin: 0 auto 60px auto;
    }

    .img1 {
        width: 100px;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .img2 {
        width: 100px;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .img3 {
        width: 100px;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }


    h3 {
        color: $light-black;
        font-weight: 900;
        margin-bottom: 30px;
    }

    p {
        letter-spacing: 0.5px;
        font-size: 0.9rem;
        color: $dark-brown;
        line-height: 1.8rem;
        width: 360px;
    }
}

.workSkills-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 260px;

    .headers {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 36px;

        .design-skills {
            margin: 0 30px;
            color: $light-black;
        }

        .design-decoration {
            width: 27px;
            height: 4px;
            background-color: #F0A171;
            transform: translateY(4px);
        }

        .coding-skills {
            margin: 0 30px;
            color: $light-black;
        }

        .coding-decoration {
            width: 27px;
            height: 4px;
            background-color: #d3b0d9;
            transform: translateY(4px);
        }
    }

    .but-container {

        display: flex;
        justify-content: center;

        .design-skills-but-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 30vw;
            margin: 0 30px;
            
            p {
                font-size: 14px;
                color: $black;
                display: inline;
                padding: 8px 32px;
                border: 1px solid $light-black;
                border-radius: 4px;
                box-shadow: 3px 3px $light-black;
                margin: 7px 7px;
            }
        }
    
        .coding-skills-but-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 30vw;
            margin: 0 30px;
    
            p {
                font-size: 14px;
                color: $black;
                display: inline;
                padding: 8px 32px;
                border: 1px solid $light-black;
                border-radius: 4px;
                box-shadow: 3px 3px $light-black;
                margin: 7px 7px;
            }
        }

    }
}

.overlayModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    background-color: rgba(0,0,0,0.85);
    z-index: 50;

    .contentModal {
        display: none;
        height: 88vh;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.showcase-container {
    background-color: white;
    padding-bottom: 300px;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: $dark-brown;
        width: 240px;
        margin: 0 auto;
        padding: 260px 0 0 0;


        h1 {
            font-weight: normal;
        }

        .ball {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: #D3B0D9;
        }
    }

    h2 {
        margin: 30px 0 120px 0;
        font-weight: normal;
        letter-spacing: 0.5px;
        font-size: 0.9rem;
        line-height: 1.8rem;
        width: 40vw;
        text-align: center;
        margin: 60px auto 100px auto;
        color: $dark-brown;
    }


    .showcase-flexbox {
        display: flex;
        flex-wrap: wrap;
        width: 65vw;
        margin: 0 auto;

        img {
            height: 18vw;
            width: 21vw;
            background-position: top;
            object-fit: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            transition-duration: 400ms;
        }

        img:hover {
            opacity: 0.5;
        }
    }

}

.projectsContainer {


    .projects-header {
        background-color: white;
        text-align: center;
        color: $dark-brown;
    
        padding-bottom: 180px;
    
        h4 {
            font-weight: bold;
            font-size: 1.1rem;
            padding: 40px;
            margin: 0;
        }
    
        h1 {
            font-weight: normal;
            font-size: 2.8rem;
        }
    }
    
    .project-1 {
        padding: 280px 14vw 150px 14vw;
    }
    
    .project-2 {
        padding: 150px 14vw 340px 14vw;
    }
    
    .projects {
        background-color: $black;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .content {
            width: 30vw;
            
            h1 {
                color: white;
                font-size: 1.75rem;
                margin: 40px 0;
            }
        
            p {
                color: #f7f4eb;
                font-size: 0.9rem;
                line-height: 1.8rem;
                letter-spacing: 0.5px;
                font-weight: 100;
                margin-bottom: 80px;
            }
    
            .skill-but-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
    
                p {
                    font-size: 14px;
                    color: #f7f4eb;
                    display: inline !important;
                    padding: 7px 30px;
                    border: 1px solid #f7f4eb;
                    border-radius: 4px;
                    box-shadow: 3px 3px #f7f4eb;
                    margin: 7px 7px;
                    opacity: 0.5;
                }
            }
        }
    
        .img-content-1 {
    
            .project-img {
                width: 14vw;
                box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.6);
                border: 1px solid black;
                margin: 0 25px;
            }
    
            .img-1 {
                transform: translateY(-8%);
            }
            .img-2 {
                transform: translateY(8%);
            }
        }
    
        .img-content-2 {
    
            .project-img {
                box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.4);
                border: 1px solid black;
            }
    
            .img-1 {
                width: 12vw;
                transform: translate(-40%, 10%);
            }
            .img-2 {
                transform: translateY(-30%);
                width: 28vw;
            }
        }
    }

}



.testimonials {
    background-color: $light-beige;
    width: 100%;

    text-align: center;
    color: $black;

    padding: 180px 0 300px 0;

    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.2);

    p {
        margin: 30px 0;
        font-weight: 500;
    }

    .line {
        width: 68vw;
        height: 1px;
        background-color: $black;
        opacity: 0.3;
        margin: 60px auto 30px auto;
    }

    .swiper-container {
        width: 68vw;

        .swiper-slide {

            .flexbox {
                display: flex;
                width: 100%;
                padding-bottom: 180px;
                justify-content: space-evenly;

                .content {
                    text-align: start;
                    width: 45%;
                    
                    h4 {
                        letter-spacing: 0.5px;
                    }

                    p {
                        font-size: 0.9rem;
                        font-style: italic;
                        letter-spacing: 0.5px;
                        line-height: 1.8rem;
                    }

                    .content-header {
                        display: flex;
                        align-items: center;

                        .header-ball {
                            width: 45px;
                            height: 45px;
                            border-radius: 45px;
                            margin-right: 25px;
                        }

                        .hb1 {
                            background-color: #D3B0D9;
                        }
                        
                        .hb2 {
                            background-color: #ED9E5C;
                        }
                        
                        .hb3 {
                            background-color: $turquoise;
                        }
                        
                        .hb4 {
                            background-color: #D3B0D9;
                        }
                    }
                }
            }
        }
        .swiper-pagination-bullet-active {
            background-color: $turquoise;
        }
    }
}


.footer {
    background-color: #886791;
    width: 100%;
    height: 670px;

    color: white;

    .footerCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        width: 70vw;
        height: 260px;
        border-radius: 15px;
        background-color: $black;

        margin: 0 auto;
        transform: translateY(-30%);

        box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);

        h1 {
            font-size: 46px;
            letter-spacing: 1px;
        }

        p {
            text-align: center;
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 30px;
            font-weight: medium;
        }

        .contact-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            border: 3px solid $turquoise;
            width: 241px;
            height: 58px;
            border-radius: 58px;

            font-weight: bold;
            font-size: 16px;
            color: #fff;
            text-decoration: none;

            cursor: pointer;

            transition-duration: 200ms;
        }

        .contact-btn:hover {
            background-color: $turquoise;
        }

    

    }

    h2 {
        text-align: center;
        color: $black;
        font-size: 24px;
        font-style: italic;
        padding: 40px 0;
    }

    .some-links {
        display: flex;
        justify-content: space-between;
        width: 135px;
        color: $black;
        display: flex;
        margin: 30px auto;
    }
    .copyright {
        color: $black;
        text-align: center;
        font-weight: 500;
    }
}

@media only screen and (max-width: 1500px) {
    body, html {
        min-width: 1260px;
    }

    .lander-container {
    
        .lander-init {
    
            .lander-header-container {
    
                .lander-header {
                    font-size: 2.4rem;
                    line-height: 4.5rem;
                }
            }
        }
    }

    .keySkills-container {
        max-width: 1100px;

        p {
            width: 300px;
        }
    }

    .workSkills-container {
        .but-container {

            .design-skills-but-container {

                width: 35vw;
                
                p {
                    font-size: 13px;
                    padding: 8px 28px;
                }
            }
        
            .coding-skills-but-container {

                width: 35vw;
        
                p {
                    font-size: 13px;
                    padding: 8px 30px;
                }
            }
    
        }
    }
    
    .showcase-container {
    
        .showcase-flexbox {

            width: 72vw;

    
            img {
                height: 22vw;
                width: 24vw;
            }
        }
    
    }

    .project-1 {
        padding: 280px 6vw 150px 6vw;
    }
    
    .project-2 {
        padding: 150px 6vw 340px 6vw;
    }
    
    .projects {
    
        .content {
            width: 40vw;
    
            .skill-but-container {
    
                p {
                    font-size: 13px;
                    padding: 7px 27px;
                }
            }
        }
    
        .img-content-1 {
    
            .project-img {
                width: 17vw;
                margin: 0 15px;
            }
        }
    
        .img-content-2 {
    
            .img-1 {
                width: 14vw;
                transform: translate(-40%, 15%);
            }
            .img-2 {
                transform: translateY(-35%);
                width: 30vw;
            }
        }
    }

    .testimonials {
        min-width: 1200px;
    }

    .footer {
        .footerCard {
            min-width: 1200px;
        }
    }
    
    
}

@media only screen and (max-width: 1400px) {
    .pagination {
        display: none;
    }
    
    .quickContacts {
        display: none;
    }
}